<div class="container mt-3 col-md-6 offset-3">
  <form [formGroup]="productFormGroup" (ngSubmit)="handleAddProduct()">
    <div class="mb-3">
      <label for="" class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name">
      <small *ngIf="productFormGroup.controls['name'].errors && productFormGroup.controls['name'].touched" class="text-danger">
        {{productService.getErrorMessage('Name',productFormGroup.controls['name'].errors)}}
      </small>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Price</label>
      <input type="text" class="form-control" formControlName="price">
      <small *ngIf="productFormGroup.controls['price'].errors && productFormGroup.controls['price'].touched" class="text-danger">
        {{productService.getErrorMessage('Price',productFormGroup.controls['price'].errors)}}
      </small>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Promotion</label>
      <input type="checkbox" class="form-check" formControlName="promotion">
    </div>
    <button type="submit" [disabled]="!this.productFormGroup.valid" class="btn btn-primary">Save</button>
  </form>
</div>
